
<!-- Button trigger modal -->
<button type="button" class="btn btn-success rounded-circle float-right mb-3 mr-2" data-toggle="modal" data-target="#Them" onclick="myFunction()" ng-click="refAdd()">
  <span class="fa fa-plus"></span>
</button>

<!-- Loc theo so luong khoa hoc -->
<div class="row mb-3">
  <div class="pt-2">
    <strong>Số lượng khoá học</strong>
  </div>
  <div class="ml-2 mr-2">
    <select id="pageSize" class="form-control control-color" ng-model="pageSize" ng-change="changePageSize(pageSize)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
</div>
<!-- Ket thuc loc theo so luong khoa hoc -->

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Them" tabindex="-1" role="dialog" aria-labelledby="Them" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Them">KHOÁ HỌC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="makhoahoc" class=" form-control-label">Mã khoá học</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="makhoahoc" name="makhoahoc" ng-model="makhoahoc" placeholder="Nhập mã khoá học..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="tenkhoahoc" class=" form-control-label">Tên khoá học</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="tenkhoahoc" ng-model="tenkhoahoc" name="tenkhoahoc" placeholder="Nhập tên khoá học..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="ngaybd" class=" form-control-label">Ngày bắt đầu</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="ngaybd" ng-model="ngaybd" name="ngaybd" placeholder="Nhập ngày bắt đầu..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="ngaykt" class=" form-control-label">Ngày kết thúc</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="ngaykt" ng-model="ngaykt" name="ngaykt" placeholder="Nhập ngày kết thúc..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="chuyennganh" class=" form-control-label">Chuyên ngành</label>
                  </div>
                  <div class="col-9 col-md-9 text-dark">
                    <select name="chuyennganh" id="chuyennganh" class="form-control" ng-change="selectChuyenNganh(SelectChuyenNganh)" ng-model="SelectChuyenNganh">

                      <option ng-repeat="row in chuyennganh" value="{{row.id}}">{{row.tencn}}</option>
                    </select>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" ng-click="createKhoaHoc()">Thêm khoá học</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped">
    <thead class="table-dark text-light">
      <tr>
        <th style="width:1%">STT</th>
        <th style="width:8%">ID</th>
        <th>Tên khoá học</th>
        <th style="width:10%">Ngày BĐ</th>
        <th style="width:10%">Ngày KT</th>
        <th>Chuyên ngành</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr style="font-size: 13px" ng-repeat="row in khoahocpage">
        <td>
          <span ng-bind="temp2 + $index"></span>
        </td>
        <td>
          <span ng-bind="row.makhoahoc"></span>
        </td>
        <td><span ng-bind="row.tenkhoahoc"></span></td>
        <td><span ng-bind="row.ngaybd"></span></td>
        <td><span ng-bind="row.ngaykt"></span></td>
        <td>{{tenChuyennganh(row.chuyennganh_ID)}}{{Change}}</td>
        <td>
          <button type="button" name="update" data-toggle="modal" data-target="#CapNhat" onclick="myFunction()" ng-click="getMaKhoaHoc(row)"> <span class="fa fa-edit"></span></button>
        </td>
        <td>
          <button type="button" name="delete" data-toggle="modal" data-target="#Xoa" onclick="myFunction()" ng-click="setMaKhoaHocDelete(row.makhoahoc)""><span class="fa fa-trash"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
    Hiển thị: {{soluonghienthi}}/{{soluonghocvien}} khoá học
  </div>

<nav aria-label="Page navigation" class="m-b-30">
  <ul class="pagination justify-content-end">
      <li class="page-item">
          <button class="page-link" tabindex="-1" ng-click="preCount()">Previous</button>
      </li>
      <li class="page-item" ng-repeat="row in arrSLHocvien"><button class="page-link" ng-model="number" ng-click="numb(row)">{{row+1}}</button></li>
      <li class="page-item">
          <button class="page-link" ng-click="nextCount()">Next</button>
      </li>
  </ul>
</nav>



<!-- Modal update-->
<div class="modal fade bg-secondary" data-backdrop="false" id="CapNhat" tabindex="-1" role="dialog" aria-labelledby="CapNhat" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CapNhat">KHOÁ HỌC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="tenkhoahoc" class=" form-control-label">Tên khoá học</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="tenkhoahoc" ng-model="tenkhoahoc" name="tenkhoahoc" placeholder="Nhập tên khoá học..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="ngaybd" class=" form-control-label">Ngày bắt đầu</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="ngaybd" ng-model="ngaybd" name="ngaybd" placeholder="Nhập ngày bắt đầu..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="ngaykt" class=" form-control-label">Ngày kết thúc</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="ngaykt" ng-model="ngaykt" name="ngaykt" placeholder="Nhập ngày kết thúc..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="chuyennganh" class=" form-control-label">Chuyên ngành</label>
                  </div>
                  <div class="col-9 col-md-9 text-dark">
                    <select name="chuyennganh" id="chuyennganh" class="form-control" ng-change="selectChuyenNganh(SelectChuyenNganh)" ng-model="SelectChuyenNganh">

                      <option ng-repeat="row in chuyennganh" value="{{row.id}}">{{row.tencn}}</option>
                    </select>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" ng-click="updateKhoaHoc()">Cập nhật khoá học</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal delete-->
<div class="modal fade bg-secondary" data-backdrop="false" id="Xoa" tabindex="-1" role="dialog" aria-labelledby="Xoa" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Xoa">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Bạn có chắc muốn xoá không?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" name="delete" ng-click="deleteKhoaHoc()">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#header-button').click(function(event) {
    myFunction2();
    //$(event.target).modal('hide');
  });
  $('#Them').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#CapNhat').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#Xoa').click(function(event) {
    $(event.target).modal('hide');
  });

  function myFunction() {
      document.getElementById("header-desktop").style.zIndex = "1";
}

function myFunction2() {
  document.getElementById("header-desktop").style.zIndex = "2";
}
</script>
