<!-- Button trigger modal -->
<button type="button" class="btn btn-success float-right mb-3 mr-2" data-toggle="modal" data-target="#ThemGopY" onclick="myFunction()" ng-click="refAdd()">
  Thêm Góp Ý
</button>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="ThemGopY" tabindex="-1" role="dialog" aria-labelledby="ThemGopY" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ThemHV">GÓP Ý</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_id" class=" form-control-label">Mã Học Viên</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_id" name="add_id" ng-model="model.nguoigopy" placeholder="Nhập mã học viên..." class="form-control">
                  </div>
                </div>


                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="addlink" class=" form-control-label">Nội dung</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_link" ng-model="model.noidung" name="add_link" placeholder="Nhập nội dung..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ngaysinh" class="form-control-label">Ngày Nhận</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="add_ngaysinh" ng-model="model.ngaynhan" name="add_ngaysinh" placeholder="Nhập ngày nhận..." class="form-control">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" data-dismiss="modal" ng-click="createGopY()">Thêm góp ý</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped">
    <thead class="table-dark text-light">
      <tr>
        <th>Mã góp ý</th>
        <th>Người góp ý</th>
        <th>Ngày nhận</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in gopyList">
        <td>
          <span ng-bind="item.id"></span>
        </td>
        <td>
            <span ng-bind="item.nguoigopy"></span>
        </td>
        <td><span ng-bind="item.ngaynhan"></span></td>
        <td>
          <button type="button" name="update" data-toggle="modal" data-target="#ChiTietGopY"  ng-click="loadDataForShow(item.id)"> <span class="fa fa-edit"></span> Chi tiết </button>
        </td>
        <td>
          <button type="button" name="delete" data-toggle="modal" data-target="#XoaGopY"  ng-click="setGopYDelete(item.id)""><span class="fa fa-trash"></span> Xoá</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation" class="m-b-30">
  <ul class="pagination justify-content-end">
      <li class="page-item">
          <button class="page-link" tabindex="-1" ng-click="preCount()">Previous</button>
      </li>
      <li class="page-item" ng-repeat="row in arrSLHocvien"><button class="page-link" ng-model="number" ng-click="numb(row)">{{row+1}}</button></li>
      <li class="page-item">
          <button class="page-link" ng-click="nextCount()">Next</button>
      </li>
  </ul>
</nav>
<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="ChiTietGopY" tabindex="-1" role="dialog" aria-labelledby="ChiTietGopY" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CapNhatTinhNang">GÓP Ý</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="card">
            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_id" class=" form-control-label">Mã Học Viên</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_id" name="add_id" ng-model="showModel.nguoigopy" placeholder="Nhập mã học viên..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="addlink" class=" form-control-label">Nội dung</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_link" ng-model="showModel.noidung" name="add_link" placeholder="Nhập nội dung..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ngaysinh" class="form-control-label">Ngày Nhận</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="add_ngaysinh" ng-model="model.ngaynhan" name="add_ngaysinh" placeholder="Nhập ngày nhận..." class="form-control">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="XoaGopY" tabindex="-1" role="dialog" aria-labelledby="XoaGopY" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="XoaCBGV">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Bạn có chắc muốn xoá góp ý {{maGopYDelete}} không?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" name="delete" data-dismiss="modal" ng-click="deleteGopY(maGopYDelete)">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#header-button').click(function(event) {
    myFunction2();
    //$(event.target).modal('hide');
  });
  $('#ThemGopY').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#ChiTietGopY').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#XoaGopY').click(function(event) {
    $(event.target).modal('hide');
  });
  function myFunction() {
      document.getElementById("header-desktop").style.zIndex = "1";
}
function myFunction2() {
  document.getElementById("header-desktop").style.zIndex = "2";
}
</script>
