<div ng-controller="doanhnghiepController">

    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped">
            <thead>
                <tr>
                    <th>Mã doanh nghiệp</th>
                    <th>Tên doanh nghiệp</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doanhnghiep in doanhnghieps">
                    <td>{{doanhnghiep.id}}</td>
                    <td>{{doanhnghiep.tendoanhnghiep}}</td>
                    <td>{{doanhnghiep.diachi}}</td>
                    <td>{{doanhnghiep.sdt}}</td>
                    <td class="text-right">
                      <button class="btn btn-info" ng-click="suadoanhnghieppopup(doanhnghiep)" data-toggle="modal" data-target="#suadoanhnghiepModal"> Sửa </button>
                      <button class="btn btn-danger" ng-click="xoadoanhnghiep(doanhnghiep)"> Xóa </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" class="m-b-30">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <div class="card">
        <div class="card-header">
            <strong>DOANH NGHIỆP</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="form-horizontal">

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="tendoanhnghiep" class=" form-control-label">Tên doanh nghiệp</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="tendoanhnghiep" ng-model="doanhnghiepThem.tendoanhnghiep" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="diachi" class=" form-control-label">Địa chỉ</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="diachi" ng-model="doanhnghiepThem.diachi" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="sdt" class=" form-control-label">Số điện thoại</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="sdt" ng-model="doanhnghiepThem.sdt" class="form-control">
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success btn-sm" ng-click="themdoanhnghiep()">
                <i class="fa fa-dot-circle-o"></i> Thêm doanh nghiệp
            </button>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="suadoanhnghiepModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Sửa doanh nghiệp</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body card-block">
                            <!-- <form action="" method="post" class="form-horizontal"> -->

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="tendoanhnghiep" class=" form-control-label">Tên doanh nghiệp</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="tendoanhnghiep" ng-model="doanhnghiepSua.tendoanhnghiep" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="diachi" class=" form-control-label">Địa chỉ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="diachi" ng-model="doanhnghiepSua.diachi" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="sdt" class=" form-control-label">Số điện thoại</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="sdt" ng-model="doanhnghiepSua.sdt" class="form-control">
                                </div>
                            </div>

                            <!-- </form> -->
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="suadoanhnghiep()">Sửa</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>

</div>
