<!-- Loc theo chuyen nganh -->
<div class="row">
  <div class="pt-2">
    <strong>Chọn chuyên ngành</strong>
  </div>
  <div class="ml-2 mr-2">
    <select required name="chuyennganh" id="chuyennganh" class="form-control" ng-change="selectChuyenNganh(SelectChuyenNganh)" ng-model="SelectChuyenNganh">
      <option ng-repeat="row in chuyennganh" value="{{row.id}}">{{row.tencn}}</option>
    </select>
  </div>
  <div>
    <button type="button" class="btn btn-success float-right mb-3 mr-2" onclick="myFunction()" ng-click="changeCourse()">
      Lọc
    </button>
  </div>
</div>
<!-- Ket thuc loc theo chuyen nganh -->

<!-- Loc theo so luong chuyen nganh -->
<div class="row mb-3">
  <div class="pt-2">
    <strong>Số lượng chuyên ngành</strong>
  </div>
  <div class="ml-2 mr-2">
    <select id="pageSize" class="form-control control-color" ng-model="pageSize" ng-change="changePageSize(pageSize)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
  <div class="ml-2">
    <button type="button" class="btn btn-success float-right mb-3 mr-2" onclick="myFunction()" ng-click="getALL()">
      Xem tất cả
    </button>
  </div>
</div>
<!-- Ket thuc loc theo so luong chuyen nganh -->

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Them" tabindex="-1" role="dialog" aria-labelledby="Them" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Them">ĐÀO TẠO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="chuyennganh" class=" form-control-label">Chuyên ngành</label>
                  </div>
                  <div class="col-9 col-md-9 text-dark">
                    <input disabled type="text" name="TenCN" ng-model="TenCN" class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="monhoc" class=" form-control-label">Môn học</label>
                  </div>
                  <div class="col-9 col-md-9 text-dark">
                    <select name="monhoc" id="monhoc" class="form-control" ng-change="selectMonHoc(SelectMonHoc)" ng-model="SelectMonHoc">

                      <option ng-repeat="row in monhoc" value="{{row.mamh}}">{{row.tenmh}}</option>
                    </select>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" ng-click="createDaoTao()">Thêm chương trình đào tạo</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped">
    <thead class="table-dark text-light">
      <tr>
        <th style="width:1%">STT</th>
        <th>Chuyên ngành</th>
        <th>Môn học</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr style="font-size: 14px" ng-repeat="row in daotaopage">
        <td>
          <span ng-bind="temp2 + $index"></span> >>
        </td>
        <td >
          <span ng-bind="row.tencn"></span>
        </td>
        <td ng-repeat="row2 in row.monhoc" class="row">
          <table>
            <tr>
              <td>
                <span ng-bind="$index+1"></span>.
              </td>
              <td>
                <Button type="button" name="delete" data-toggle="modal" data-target="#Xoa" onclick="myFunction()" ng-click="setMaDelete(row, row2)" ng-bind="row2.tenmh"></Button>
              </td>
              <td>
                  <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" name="delete" data-toggle="modal" data-target="#Xoa" onclick="myFunction()" ng-click="setMaDelete(row, row2)""><span class=" fa fa-times"></span></button>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <button type="button" class="btn btn-success rounded-circle float-right mb-3 mr-2" data-toggle="modal" data-target="#Them" onclick="myFunction()" ng-click="refAdd(row)"> <span class="fa fa-plus"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
    Hiển thị: {{soluonghienthi}}/{{soluonghocvien}} chuyên ngành
  </div>
<nav aria-label="Page navigation" class="m-b-30">
  <ul class="pagination justify-content-end">
      <li class="page-item">
          <button class="page-link" tabindex="-1" ng-click="preCount()">Previous</button>
      </li>
      <li class="page-item" ng-repeat="row in arrSLHocvien"><button class="page-link" ng-model="number" ng-click="numb(row)">{{row+1}}</button></li>
      <li class="page-item">
          <button class="page-link" ng-click="nextCount()">Next</button>
      </li>
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Xoa" tabindex="-1" role="dialog" aria-labelledby="Xoa" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Xoa">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xoá môn học <strong>{{TenMonhocDelete}}</strong> từ chuyên ngành <strong>{{TenChuyennganhDelete}}</strong> không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" name="delete" ng-click="deleteDaotao()">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#header-button').click(function(event) {
    myFunction2();
    //$(event.target).modal('hide');
  });
  $('#Them').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#CapNhat').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#Xoa').click(function(event) {
    $(event.target).modal('hide');
  });

  function myFunction() {
      document.getElementById("header-desktop").style.zIndex = "1";
}

function myFunction2() {
  document.getElementById("header-desktop").style.zIndex = "2";
}
</script>
