<div class="row mb-2">
    <div class="col-12">
        <label for="khoahoc" class=" form-control-label">Chọn khóa học</label>
        <select id="khoahoc" class=" form-control" ng-model="makh" ng-options="kh.makhoahoc as kh.tenkhoahoc for kh in khoahoc">
        </select>
    </div>
    <div class="col-12">
        <label for="monhoc" class=" form-control-label">Chọn môn học</label>
        <select id="monhoc" class=" form-control" ng-model="mamh" ng-options="kh.mamh as kh.tenmh for kh in monhoc">
        </select>
    </div>
</div>

<!-- <button type="button" class="btn btn-success float-right mb-3 mr-2" data-toggle="modal" data-target="#Them" onclick="myFunction()">
    Thêm điểm
</button> -->

<div ng-if="showdiem">
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped">
            <thead class="table-dark text-light">
                <tr>
                    <th>STT</th>
                    <th>Học viên</th>
                    <th>Điểm giữa kì</th>
                    <th>Điểm học phần</th>
                    <th>Kết quả</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in diemmonhocFilter">
                    <td><span>{{ $index + 1 }} </span></td>
                    <td><span ng-bind="row.tenhv"></span></td>
                    <td><span ng-bind="row.diemgk"></span></td>
                    <td><span ng-bind="row.diemhp"></span></td>
                    <td><span ng-bind="row.ketqua"></span></td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#Sua" onclick="myFunction()" ng-click="suapopupDiemMonHoc(row)">
                            <span data-toggle="tooltip" title="Sửa điểm" class="fa fa-edit"></span>
                            <script>
                                $(document).ready(function() {
                                    $('[data-toggle="tooltip"]').tooltip();
                                });
                            </script>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Sua" tabindex="-1" role="dialog" aria-labelledby="Xem" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa điểm</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

              <p> Khóa học: {{ diemmonhocSua.tenkh }} </p>
                <p> Môn học: {{ diemmonhocSua.tenmh }}</p>
                <p> Học viên: {{ diemmonhocSua.tenhv }} </p>
            </div>

            <div class="modal-body">

                <div class="card">

                    <div class="card-body card-block">
                        <form action="" method="post" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="diemgk" class=" form-control-label">Điểm giữa kì</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="diemhp" ng-model="diemmonhocSua.diemgk" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="diemhp" class=" form-control-label">Điểm học phần</label>
                                </div>
                                <div class="col-9 col-md-9 text-dark">
                                    <input type="text" id="diemhp" ng-model="diemmonhocSua.diemhp" class="form-control">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" ng-click="updateDiemMonHoc()">Sửa điểm</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#header-button').click(function(event) {
        myFunction2();
        //$(event.target).modal('hide');
    });
    $('#Them').click(function(event) {
        $(event.target).modal('hide');
    });
    $('#CapNhat').click(function(event) {
        $(event.target).modal('hide');
    });
    $('#Xoa').click(function(event) {
        $(event.target).modal('hide');
    });

    function myFunction() {
        document.getElementById("header-desktop").style.zIndex = "1";
    }

    function myFunction2() {
        document.getElementById("header-desktop").style.zIndex = "2";
    }
</script>
