


<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped">
        <thead>
            <tr>
                <th>date</th>
                <th>order ID</th>
                <th>name</th>
                <th class="text-right">price</th>
                <th class="text-right">quantity</th>
                <th class="text-right">total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2018-09-29 05:57</td>
                <td>100398</td>
                <td>iPhone X 64Gb Grey</td>
                <td class="text-right">$999.00</td>
                <td class="text-right">1</td>
                <td class="text-right">$999.00</td>
            </tr>
            <tr>
                <td>2018-09-28 01:22</td>
                <td>100397</td>
                <td>Samsung S8 Black</td>
                <td class="text-right">$756.00</td>
                <td class="text-right">1</td>
                <td class="text-right">$756.00</td>
            </tr>
            <tr>
                <td>2018-09-27 02:12</td>
                <td>100396</td>
                <td>Game Console Controller</td>
                <td class="text-right">$22.00</td>
                <td class="text-right">2</td>
                <td class="text-right">$44.00</td>
            </tr>
            <tr>
                <td>2018-09-26 23:06</td>
                <td>100395</td>
                <td>iPhone X 256Gb Black</td>
                <td class="text-right">$1199.00</td>
                <td class="text-right">1</td>
                <td class="text-right">$1199.00</td>
            </tr>
            <tr>
                <td>2018-09-25 19:03</td>
                <td>100393</td>
                <td>USB 3.0 Cable</td>
                <td class="text-right">$10.00</td>
                <td class="text-right">3</td>
                <td class="text-right">$30.00</td>
            </tr>
            <tr>
                <td>2018-09-29 05:57</td>
                <td>100392</td>
                <td>Smartwatch 4.0 LTE Wifi</td>
                <td class="text-right">$199.00</td>
                <td class="text-right">6</td>
                <td class="text-right">$1494.00</td>
            </tr>
            <tr>
                <td>2018-09-24 19:10</td>
                <td>100391</td>
                <td>Camera C430W 4k</td>
                <td class="text-right">$699.00</td>
                <td class="text-right">1</td>
                <td class="text-right">$699.00</td>
            </tr>
            <tr>
                <td>2018-09-22 00:43</td>
                <td>100393</td>
                <td>USB 3.0 Cable</td>
                <td class="text-right">$10.00</td>
                <td class="text-right">3</td>
                <td class="text-right">$30.00</td>
            </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation" class="m-b-30">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>


<div>
    <div class="card">
        <div class="card-header">
            <strong>GIẢNG VIÊN</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="ho" class=" form-control-label">Họ</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ho" name="ho" placeholder="Nhập họ..." class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="tenlot" class=" form-control-label">Tên lót</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="tenlot" name="tenlot" placeholder="Nhập tên lót..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="ten" class=" form-control-label">Tên</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ten" name="ten" placeholder="Nhập tên..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="gioitinh" class=" form-control-label">Giới tính</label>
                    </div>
                    <div class="col col-md-9">
                        <div class="form-check-inline form-check">
                            <label for="gioitinh1" class="form-check-label ">
                                <input type="radio" id="gioitinh1" name="gioitinh" value="Nam" class="form-check-input">Nam
                            </label>
                            <label for="gioitinh2" class="form-check-label m-l-20">
                                <input type="radio" id="gioitinh2" name="gioitinh" value="Nữ" class="form-check-input">Nữ
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="ngaysinh" class=" form-control-label">Ngày sinh</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="date" id="ngaysinh" name="ngaysinh" placeholder="Nhập ngày sinh..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="noisinh" class=" form-control-label">Nơi sinh</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="noisinh" name="noisinh" placeholder="Nhập nơi sinh..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="cmnd" class=" form-control-label">Chứng minh nhân dân</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="number" id="cmnd" name="cmnd" placeholder="Nhập số chứng minh nhân dân..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="sdt" class=" form-control-label">Số điện thoại</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="tel" id="sdt" name="email" placeholder="Nhập số điện thoại..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="email" class=" form-control-label">Email</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="email" id="email" name="email" placeholder="quynguyen97cntt@gmail.com" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="diachi" class=" form-control-label">Địa chỉ</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="diachi" name="diachi" placeholder="Nhập địa chỉ..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="luong" class=" form-control-label">Lương cơ bản</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="number" id="luong" name="luong" placeholder="Nhập lương cơ bản..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="hesoluong" class=" form-control-label">Hệ số lương</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="number" id="hesoluong" name="hesoluong" placeholder="Nhập hệ số lương..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="ngayvaolam" class=" form-control-label">Ngày vào làm</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="date" id="ngayvaolam" name="ngayvaolam" placeholder="Nhập ngày vào làm..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="macbgv" class=" form-control-label">Mã giảng viên</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="macbgv" name="macbgv" placeholder="Nhập mã giảng viên..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="matkhau" class=" form-control-label">Mật khẩu</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="password" id="hf-email" name="matkhau" placeholder="Nhập mật khẩu..." class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="loaitaikhoan" class=" form-control-label">Loại tài khoản</label>
                    </div>
                    <div class="col-6 col-md-3">
                        <select name="loaitaikhoan" id="loaitaikhoan" class="form-control">
                            <option value="0">Lựa chọn</option>
                            <option value="1">Giảng viên</option>
                            <option value="2">Admin</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success btn-sm">
                <i class="fa fa-dot-circle-o"></i> Thêm giảng viên
            </button>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <strong>THAY ĐỔI QUYỀN TRUY CẬP</strong>
    </div>
    <div class="card-body card-block">
        <form action="" method="post" class="form-horizontal">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="macbgv" class=" form-control-label">Mã giảng viên</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="macbgv" name="macbgv" placeholder="Nhập mã giảng viên..." class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="loaitaikhoan" class=" form-control-label">Loại tài khoản</label>
                </div>
                <div class="col-6 col-md-3">
                    <select name="loaitaikhoan" id="loaitaikhoan" class="form-control">
                        <option value="0">Lựa chọn</option>
                        <option value="1">Giảng viên</option>
                        <option value="2">Admin</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Cập nhật loại tài khoản
        </button>
    </div>
</div>