<!-- Button trigger modal -->
<button type="button" class="btn btn-success float-right mb-3 mr-2" data-toggle="modal" data-target="#Them" onclick="myFunction()" ng-click="refAdd()">
    Thêm thông báo
</button>

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped">
        <thead class="table-dark text-light">
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Nội dung</th>
                <th>Ngày đăng</th>
                <th>Khóa học</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in thongbao">
                <td data-toggle="modal" data-target="#Xem" ng-click="xemThongBao(row)">{{ thongbao.stt[$index] }}</td>
                <td data-toggle="modal" data-target="#Xem" ng-click="xemThongBao(row)"><span ng-bind="row.tieude"></span></td>
                <td data-toggle="modal" data-target="#Xem" ng-click="xemThongBao(row)"><span ng-bind="row.noidung"></span></td>
                <td data-toggle="modal" data-target="#Xem" ng-click="xemThongBao(row)"><span ng-bind="row.ngaydang"></span></td>
                <td data-toggle="modal" data-target="#Xem" ng-click="xemThongBao(row)"><span ng-bind="row.khoahoc"></span></td>
                <td>
                    <button type="button" data-toggle="modal" data-target="#Xoa" onclick="myFunction()" ng-click="setMaThongBaoDelete(row.id)">
                        <span data-toggle="tooltip" title="Xóa thông báo" class=" fa fa-trash"></span>

                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation" class="m-b-30">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <button class="page-link" tabindex="-1" ng-click="preCount()">Previous</button>
        </li>
        <li class="page-item" ng-repeat="row in arrSLThongBao"><button class="page-link" ng-model="number" ng-click="numb(row)">{{row+1}}</button></li>
        <li class="page-item">
            <button class="page-link" ng-click="nextCount()">Next</button>
        </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Them" tabindex="-1" role="dialog" aria-labelledby="Them" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Them">THÔNG BÁO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card">

                    <div class="card-body card-block">
                        <form name="themthongbaoForm" class="form-horizontal" novalidate>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="tieude" class=" form-control-label">Tiêu đề</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="tieude" name="tieude" ng-model="thongbaoThem.tieude" class="form-control" required>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                </div>
                                <div class="col-12 col-md-9">
                                    <span style="color:red" ng-show="themthongbaoForm.tieude.$touched && themthongbaoForm.tieude.$invalid">Tiêu đề chưa hợp lệ!</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="noidung" class=" form-control-label">Nội dung</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <textarea id="noidung" name="noidung" ng-model="thongbaoThem.noidung" class="form-control" rows="8" cols="80" required></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                </div>
                                <div class="col-12 col-md-9">
                                    <span style="color:red" ng-show="themthongbaoForm.noidung.$touched && themthongbaoForm.noidung.$invalid">Nội dung chưa hợp lệ!</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="khoahoc" class=" form-control-label">Khóa học</label>
                                </div>
                                <div class="col-9 col-md-9 text-dark">
                                    <select id="khoahoc"  name="khoahoc" class="form-control" ng-model="thongbaoThem.khoahoc.makhoahoc" ng-options="kh.makhoahoc as kh.tenkhoahoc for kh in khoahoc" required>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                </div>
                                <div class="col-12 col-md-9">
                                    <span style="color:red" ng-show="themthongbaoForm.khoahoc.$touched && themthongbaoForm.khoahoc.$invalid">Hãy chọn khóa học!</span>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" name="create" ng-click="createThongBao()">Thêm thông báo</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Xoa" tabindex="-1" role="dialog" aria-labelledby="Xoa" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Xoa">Cảnh báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Bạn có chắc muốn xoá không?</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-danger" name="delete" ng-click="deleteThongBao()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Xem" tabindex="-1" role="dialog" aria-labelledby="Xem" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Them"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card">

                    <div class="card-body card-block">
                        <form action="" method="post" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="tieude" class=" form-control-label">Tiêu đề</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <div> {{thongbaoXem.tieude}} </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="noidung" class=" form-control-label">Nội dung</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <div> {{thongbaoXem.noidung}} </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="noidung" class=" form-control-label">Ngày đăng</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <div> {{thongbaoXem.ngaydang}} </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="khoahoc" class=" form-control-label">Khóa học</label>
                                </div>
                                <div class="col-9 col-md-9 text-dark">
                                    <div> {{thongbaoXem.khoahoc}} </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#header-button').click(function(event) {
        myFunction2();
        //$(event.target).modal('hide');
    });
    $('#Them').click(function(event) {
        $(event.target).modal('hide');
    });
    $('#CapNhat').click(function(event) {
        $(event.target).modal('hide');
    });
    $('#Xoa').click(function(event) {
        $(event.target).modal('hide');
    });

    function myFunction() {
        document.getElementById("header-desktop").style.zIndex = "1";
    }

    function myFunction2() {
        document.getElementById("header-desktop").style.zIndex = "2";
    }
</script>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
