
<!-- Button trigger modal -->
<button type="button" class="btn btn-success float-right mb-3 mr-2" data-toggle="modal" data-target="#ThemCBGV" onclick="myFunction()" ng-click="refAdd()">
  Thêm Cán Bộ Giảng Viên
</button>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="ThemCBGV" tabindex="-1" role="dialog" aria-labelledby="ThemCBGV" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ThemHV">CÁN BỘ GIẢNG VIÊN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ho" class=" form-control-label">Họ</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_ho" name="add_ho" ng-model="model.ho" placeholder="Nhập họ..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_tenlot" class=" form-control-label">Tên lót</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_tenlot" ng-model="model.tenlot" name="add_tenlot" placeholder="Nhập tên lót..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ten" class=" form-control-label">Tên</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_ten" ng-model="model.ten" name="add_ten" placeholder="Nhập tên..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_gioitinh" class=" form-control-label">Giới tính</label>
                  </div>
                  <div class="col col-md-9">
                    <div class="form-check-inline form-check">
                      <label for="gioitinh1" class="form-check-label ">
                        <input type="radio" id="add_gioitinh1" ng-model="model.gioitinh" name="add_gioitinh" value="Nam" class="form-check-input">Nam
                      </label>
                      <label for="gioitinh2" class="form-check-label m-l-20">
                        <input type="radio" id="add_gioitinh2" ng-model="model.gioitinh" name="add_gioitinh" value="Nữ" class="form-check-input">Nữ
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ngaysinh" class="form-control-label">Ngày sinh</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="add_ngaysinh" ng-model="model.ngaysinh" name="add_ngaysinh" placeholder="Nhập ngày sinh..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_noisinh" class=" form-control-label">Nơi sinh</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_noisinh" ng-model="model.noisinh" name="add_noisinh" placeholder="Nhập nơi sinh..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_cmnd" class=" form-control-label">Chứng minh nhân dân</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="number" id="add_cmnd" ng-model="model.cmnd" name="add_cmnd" placeholder="Nhập số chứng minh nhân dân..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_sdt" class=" form-control-label">Số điện thoại</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="tel" id="add_sdt" ng-model="model.sdt" name="add_sdt" placeholder="Nhập số điện thoại..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_email" class=" form-control-label">Email</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="add_email" id="add_email" ng-model="model.email" name="add_email" placeholder="quynguyen97cntt@gmail.com" class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_diachi" class=" form-control-label">Địa chỉ</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_diachi" ng-model="model.diachi" name="add_diachi" placeholder="Nhập địa chỉ..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_mahv" class=" form-control-label">Mã cán bộ giảng viên</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_macbgv" ng-model="model.macbgv" name="add_macbgv" placeholder="Nhập mã cán bộ giảng viên..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_luong" class=" form-control-label">Lương</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_luong" ng-model="model.luong" name="add_luong" placeholder="Nhập lương..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_hsluong" class=" form-control-label">Hệ số lương</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_hsluong" ng-model="model.hsluong" name="add_hsluong" placeholder="Nhập hệ số lương..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_password" class=" form-control-label">Mật khẩu</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="add_password" ng-model="model.password" id="add_password" name="password" placeholder="Nhập mật khẩu..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ngayvaolam" class=" form-control-label">Ngày vào làm</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="add_ngayvaolam" ng-model="model.ngayvaolam" name="add_ngayvaolam" placeholder="Nhập ngày vào làm..." class="form-control">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" data-dismiss="modal" ng-click="createCBGV()">Thêm cán bộ giảng viên</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped">
    <thead class="table-dark text-light">
      <tr>
        <th>Mã CBGV</th>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Điện thoại</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in canbogiangvienList">
        <td>
          <span ng-bind="item.macbgv"></span>
        </td>
        <td>
            <span ng-bind="item.ho"></span>
            <span ng-bind="item.tenlot"></span>
            <span ng-bind="item.ten"></span>
        </td>
        <td><span ng-bind="item.gioitinh"></span></td>
        <td><span ng-bind="item.sdt"></span></td>
        <td><span ng-bind="item.email"></span></td>
        <td>
          <button type="button" name="update" data-toggle="modal" data-target="#CapNhatCBGV"  ng-click="loadDataForEdit(item.macbgv)"> <span class="fa fa-edit"></span> Sửa </button>
        </td>
        <td>
          <button type="button" name="delete" data-toggle="modal" data-target="#XoaCBGV"  ng-click="setCBGVDelete(item.macbgv)""><span class="fa fa-trash"></span> Xoá</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation" class="m-b-30">
  <ul class="pagination justify-content-end">
      <li class="page-item">
          <button class="page-link" tabindex="-1" ng-click="preCount()">Previous</button>
      </li>
      <li class="page-item" ng-repeat="row in arrSLHocvien"><button class="page-link" ng-model="number" ng-click="numb(row)">{{row+1}}</button></li>
      <li class="page-item">
          <button class="page-link" ng-click="nextCount()">Next</button>
      </li>
  </ul>
</nav>



<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="CapNhatCBGV" tabindex="-1" role="dialog" aria-labelledby="CapNhatCBGV" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CapNhatCBGV">CÁN BỘ GIẢNG VIÊN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ho" class=" form-control-label">Họ</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_ho" name="add_ho" ng-model="editModel.ho" placeholder="Nhập họ..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_tenlot" class=" form-control-label">Tên lót</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_tenlot" ng-model="editModel.tenlot" name="add_tenlot" placeholder="Nhập tên lót..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ten" class=" form-control-label">Tên</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_ten" ng-model="editModel.ten" name="add_ten" placeholder="Nhập tên..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_gioitinh" class=" form-control-label">Giới tính</label>
                  </div>
                  <div class="col col-md-9">
                    <div class="form-check-inline form-check">
                      <label for="gioitinh1" class="form-check-label ">
                        <input type="radio" id="add_gioitinh1" ng-model="editModel.gioitinh" name="add_gioitinh" value="Nam" class="form-check-input">Nam
                      </label>
                      <label for="gioitinh2" class="form-check-label m-l-20">
                        <input type="radio" id="add_gioitinh2" ng-model="editModel.gioitinh" name="add_gioitinh" value="Nữ" class="form-check-input">Nữ
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ngaysinh" class="form-control-label">Ngày sinh</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="add_ngaysinh" ng-model="editModel.ngaysinh" name="add_ngaysinh" placeholder="Nhập ngày sinh..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_noisinh" class=" form-control-label">Nơi sinh</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_noisinh" ng-model="editModel.noisinh" name="add_noisinh" placeholder="Nhập nơi sinh..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_cmnd" class=" form-control-label">Chứng minh nhân dân</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="number" id="add_cmnd" ng-model="editModel.cmnd" name="add_cmnd" placeholder="Nhập số chứng minh nhân dân..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_sdt" class=" form-control-label">Số điện thoại</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="tel" id="add_sdt" ng-model="editModel.sdt" name="add_sdt" placeholder="Nhập số điện thoại..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_email" class=" form-control-label">Email</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="add_email" id="add_email" ng-model="editModel.email" name="add_email" placeholder="quynguyen97cntt@gmail.com" class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_diachi" class=" form-control-label">Địa chỉ</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_diachi" ng-model="editModel.diachi" name="add_diachi" placeholder="Nhập địa chỉ..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_mahv" class=" form-control-label">Mã cán bộ giảng viên</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_macbgv" ng-model="editModel.macbgv" name="add_macbgv" placeholder="Nhập mã cán bộ giảng viên..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_luong" class=" form-control-label">Lương</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_luong" ng-model="editModel.luong" name="add_luong" placeholder="Nhập lương..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_hsluong" class=" form-control-label">Hệ số lương</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_hsluong" ng-model="editModel.hsluong" name="add_hsluong" placeholder="Nhập hệ số lương..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_password" class=" form-control-label">Mật khẩu</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="add_password" ng-model="editModel.password" id="add_password" name="password" placeholder="Nhập mật khẩu..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_ngayvaolam" class=" form-control-label">Ngày vào làm</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="date" id="add_ngayvaolam" ng-model="editModel.ngayvaolam" name="add_ngayvaolam" placeholder="Nhập ngày vào làm..." class="form-control">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" data-dismiss="modal" ng-click="editCBGV(editModel.macbgv)">Cập nhật học viên</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="XoaCBGV" tabindex="-1" role="dialog" aria-labelledby="XoaCBGV" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="XoaCBGV">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Bạn có chắc muốn xoá cán bộ {{maCBGVDelete}} không?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" name="delete" data-dismiss="modal" ng-click="deleteCBGV(maCBGVDelete)">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#header-button').click(function(event) {
    myFunction2();
    //$(event.target).modal('hide');
  });
  $('#ThemCBGV').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#CapNhatCBGV').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#XoaCBGV').click(function(event) {
    $(event.target).modal('hide');
  });

  function myFunction() {
      document.getElementById("header-desktop").style.zIndex = "1";
}

function myFunction2() {
  document.getElementById("header-desktop").style.zIndex = "2";
}
</script>
