
<!-- Button trigger modal -->
<button type="button" class="btn btn-success float-right mb-3 mr-2" data-toggle="modal" data-target="#ThemCBGV" onclick="myFunction()" ng-click="refAdd()">
  Thêm Tính Năng
</button>

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="ThemCBGV" tabindex="-1" role="dialog" aria-labelledby="ThemCBGV" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ThemHV">TÍNH NĂNG</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_id" class=" form-control-label">Mã tính năng</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_id" name="add_id" ng-model="model.id" placeholder="Nhập mã tính năng..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_menu" class=" form-control-label">Tên Menu</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_menu" ng-model="model.tenmenu" name="add_menu" placeholder="Nhập tên Menu..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="addlink" class=" form-control-label">Link</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_link" ng-model="model.link" name="add_link" placeholder="Nhập link..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_loaitaikhoan" class=" form-control-label">Loại tài khoản</label>
                  </div>
                  <div class="col-9 col-md-9">
                    <select name="add_loaitaikhoan" id="add_loaitaikhoan" class="form-control" ng-model="model.type"">

                      <option ng-repeat="row in loaitaikhoanList" value="{{row.id}}" selected="selected">{{row.tenloai}}</option>
                    </select>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" data-dismiss="modal" ng-click="createTN()">Thêm tính năng</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped">
    <thead class="table-dark text-light">
      <tr>
        <th>Mã Tính Năng</th>
        <th>Tên Menu</th>
        <th>Link</th>
        <th>Loại Tài Khoản</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in tinhnangList">
        <td>
          <span ng-bind="item.id"></span>
        </td>
        <td>
            <span ng-bind="item.tenmenu"></span>
        </td>
        <td><span ng-bind="item.link"></span></td>
        <td><span ng-bind="item.loaitaikhoan.tenloai"></span></td>
        <td>
          <button type="button" name="update" data-toggle="modal" data-target="#CapNhatTinhNang"  ng-click="loadDataForEdit(item.id)"> <span class="fa fa-edit"></span> Sửa </button>
        </td>
        <td>
          <button type="button" name="delete" data-toggle="modal" data-target="#XoaCBGV"  ng-click="setTinhNangDelete(item.id)""><span class="fa fa-trash"></span> Xoá</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation" class="m-b-30">
  <ul class="pagination justify-content-end">
      <li class="page-item">
          <button class="page-link" tabindex="-1" ng-click="preCount()">Previous</button>
      </li>
      <li class="page-item" ng-repeat="row in arrSLHocvien"><button class="page-link" ng-model="number" ng-click="numb(row)">{{row+1}}</button></li>
      <li class="page-item">
          <button class="page-link" ng-click="nextCount()">Next</button>
      </li>
  </ul>
</nav>



<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="CapNhatTinhNang" tabindex="-1" role="dialog" aria-labelledby="CapNhatTinhNang" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CapNhatTinhNang">TÍNH NĂNG</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_id" class=" form-control-label">Mã tính năng</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_id" name="add_id" ng-model="editModel.id" placeholder="Nhập mã tính năng..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_menu" class=" form-control-label">Tên Menu</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_menu" ng-model="editModel.tenmenu" name="add_menu" placeholder="Nhập tên Menu..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="addlink" class=" form-control-label">Link</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="add_link" ng-model="editModel.link" name="add_link" placeholder="Nhập link..." class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="add_loaitaikhoan" class=" form-control-label">Loại tài khoản</label>
                  </div>
                  <div class="col-9 col-md-9">
                    <select name="add_loaitaikhoan" id="add_loaitaikhoan" class="form-control"  ng-model="editModel.type"">
                      <option ng-repeat="row in loaitaikhoanList" value="{{row.id}}" selected="selected">{{row.tenloai}}</option>
                    </select>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" data-dismiss="modal" ng-click="editTN(editModel.id)">Lưu</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="XoaCBGV" tabindex="-1" role="dialog" aria-labelledby="XoaCBGV" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="XoaCBGV">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Bạn có chắc muốn xoá tính năng {{maTinhNangDelete}} không?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" name="delete" data-dismiss="modal" ng-click="deleteTinhNang(maTinhNangDelete)">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#header-button').click(function(event) {
    myFunction2();
    //$(event.target).modal('hide');
  });
  $('#ThemCBGV').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#CapNhatTinhNang').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#XoaCBGV').click(function(event) {
    $(event.target).modal('hide');
  });

  function myFunction() {
      document.getElementById("header-desktop").style.zIndex = "1";
}

function myFunction2() {
  document.getElementById("header-desktop").style.zIndex = "2";
}
</script>
