
<!-- Button trigger modal -->
<button type="button" class="btn btn-success rounded-circle float-right mb-3 mr-2" data-toggle="modal" data-target="#Them" onclick="myFunction()" ng-click="refAdd()">
  <span class="fa fa-plus"></span>
</button>

<!-- Loc theo so luong chuyen nganh -->
<div class="row mb-3">
  <div class="pt-2">
    <strong>Số lượng chuyên ngành</strong>
  </div>
  <div class="ml-2 mr-2">
    <select id="pageSize" class="form-control control-color" ng-model="pageSize" ng-change="changePageSize(pageSize)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
</div>
<!-- Ket thuc loc theo so luong chuyen nganh -->

<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Them" tabindex="-1" role="dialog" aria-labelledby="Them" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Them">CHUYÊN NGÀNH</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="tenchuyennganh" class=" form-control-label">Tên chuyên ngành</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="tenchuyennganh" ng-model="tenchuyennganh" name="tenchuyennganh" placeholder="Nhập tên chuyên ngành..." class="form-control">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" ng-click="createChuyennganh()">Thêm chuyên ngành</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped">
    <thead class="table-dark text-light">
      <tr>
        <th style="width:1%">STT</th>
        <th>Mã chuyên ngành</th>
        <th>Tên chuyên ngành</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr style="font-size: 13px" ng-repeat="row in chuyennganhpage">
        <td>
          <span ng-bind="temp2 + $index"></span>
        </td>
        <td>
          <span ng-bind="row.id"></span>
        </td>
        <td>
          <span ng-bind="row.tencn"></span>
        </td>
        <td>
          <button type="button" name="update" data-toggle="modal" data-target="#CapNhat" onclick="myFunction()" ng-click="getMaChuyennganh(row)"> <span class="fa fa-edit"></span></button>
        </td>
        <td>
          <button type="button" name="delete" data-toggle="modal" data-target="#Xoa" onclick="myFunction()" ng-click="setMaDelete(row.id)""><span class="fa fa-trash"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
    Hiển thị: {{soluonghienthi}}/{{soluonghocvien}} trường học
  </div>
<nav aria-label="Page navigation" class="m-b-30">
  <ul class="pagination justify-content-end">
      <li class="page-item">
          <button class="page-link" tabindex="-1" ng-click="preCount()">Previous</button>
      </li>
      <li class="page-item" ng-repeat="row in arrSLHocvien"><button class="page-link" ng-model="number" ng-click="numb(row)">{{row+1}}</button></li>
      <li class="page-item">
          <button class="page-link" ng-click="nextCount()">Next</button>
      </li>
  </ul>
</nav>



<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="CapNhat" tabindex="-1" role="dialog" aria-labelledby="CapNhat" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CapNhat">CHUYÊN NGÀNH</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <div>
          <div class="card">

            <div class="card-body card-block">
              <form action="" method="post" class="form-horizontal">

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="machuyennganh" class=" form-control-label">Mã chuyên ngành</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="machuyennganh" name="machuyennganh" ng-model="machuyennganh" disabled placeholder="Nhập mã chuyên ngành..." class="form-control">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="tenchuyennganh" class=" form-control-label">Tên chuyên ngành</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="tenchuyennganh" ng-model="tenchuyennganh" name="tenchuyennganh" placeholder="Nhập tên chuyên ngành..." class="form-control">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" name="create" ng-click="updateChuyennganh()">Cập nhật chuyên ngành</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade bg-secondary" data-backdrop="false" id="Xoa" tabindex="-1" role="dialog" aria-labelledby="Xoa" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Xoa">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Bạn có chắc muốn xoá không?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" name="delete" ng-click="deleteChuyennganh()">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#header-button').click(function(event) {
    myFunction2();
    //$(event.target).modal('hide');
  });
  $('#Them').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#CapNhat').click(function(event) {
    $(event.target).modal('hide');
  });
  $('#Xoa').click(function(event) {
    $(event.target).modal('hide');
  });

  function myFunction() {
      document.getElementById("header-desktop").style.zIndex = "1";
}

function myFunction2() {
  document.getElementById("header-desktop").style.zIndex = "2";
}
</script>
